
table{
	margin: 2% auto 3% auto;
	width: 650px;
	height: 0 auto;
	overflow: hidden;
	
}

table tr{
	width: 100%;
}

table tr th{
	background: #3e3e3e;
	color: #fff !important;
	font-family: georgia;
}

table tr th, table tr td{
	padding: 10px;
	
	font-family: arial;
	font-size: 13px;
	
	border-left: 1px solid black;
	border-right: 1px solid black;
}

table tr td{
	border-bottom: 2px solid black;
}
